.catalog-header {
    display: none;
}

.catalog-side-nav {
    padding-top: 65px;
    height: 100vh;
    min-width: 150px;
    padding-right: 24px;
}

.side-nav-sort {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-nav-button {
    border-radius: 5px;
    background-color: white;
    border: none;
    box-shadow: 1.75px 1.75px 4px black;
    cursor: pointer;
    font-size: 0.95rem;
    margin-top: 10px;
    align-self: center;
}

.side-nav-sort select {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

.side-nav-sort {
    margin-bottom: 24px;
}

.side-nav-button:hover {
    box-shadow: 0px 0px 2px black;
}

.side-nav-subheader {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.side-nav-filter {
    display: flex;
    flex-direction: column;
}

.clear-filters {
    margin-top: 20px;
}


.catalog-container {
    display: flex;
    flex-direction: row;
}

.shoe-checkboxes {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.shoe-checkboxes label {
    width: 30px;
}

.catalog-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-left: 1px solid black;
}

.product-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 236px;
}

.product-card {
    border-radius: 10px;
    box-shadow: 1px 1px 4px black;
    height: 348px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 32px;
}

.product-card a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.gender-tag {
    font-style: italic;
}

.size-tag {
    font-style: italic;
}

.product-card-image {
    height: 172px;
    width: 172px;
}

.product-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 100px;
    align-self: center;
    justify-content: space-around;
    width: 100%;
}

.buy-button {
    height: 40px;
    width: 100px;
}

.smart-button-container {
    width: 236px;
    margin-left: 24px;
}

input[type="checkbox"] {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
    /* margin-left: -20px; */
}
label {
    position: relative;
}
label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 22px;
    height: 22px;
    transition: transform 0.28s ease;
    border-radius: 3px;
    border: 1px solid black;
}
label:after {
  content: '';
    display: block;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    -webkit-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    transition: transform ease 0.25s;
    will-change: transform;
    position: absolute;
    top: 12px;
    left: 10px;
}
input[type="checkbox"]:checked ~ label::before {
    color: black;
}

input[type="checkbox"]:checked ~ label::after {
    -webkit-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

label {
    min-height: 34px;
    display: block;
    padding-left: 40px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    vertical-align: sub;
}
label span {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
nput[type="checkbox"]:focus + label::before {
    outline: 0;
}

.results-container {
    border-left: none;
}

@media(max-width: 776px) {
    .catalog-side-nav {
        display: none;
    }

    .catalog-content-container {
        border-left: none;
    }

    .catalog-container {
        
    }
}