div.wrap {
  width: 500px;
}

.shoe-checkboxes {
  margin: 0px;
}

.form-control {
  position: relative;
  margin: 50px 0;
}

.product-text-label  {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  margin: 10px;
  padding: 0 10px;
  -webkit-transition: top .2s ease-in-out, 
                      font-size .2s ease-in-out;
  transition: top .2s ease-in-out, 
              font-size .2s ease-in-out;
}

.active {
  top: -35px;
  font-size: 20px;
}

input[type=text] {
  width: 100%;
  padding: 20px;
  border: 1px solid black;
  font-size: 20px;
} 

input[type=text]:focus {
  outline: none;
}

.size-label {
  margin-left: 15%;
  margin-bottom: 15px;
}

#size-checkboxes {
  margin-top: 0px;
  padding-top: 0px;
  margin: 0px;
}

.shoe-checkboxes {
  margin: 0px;
}

#main-picture-input {
  margin-bottom: 15px;
}