.product-container {
    display: flex;
    flex-direction: row;
}

.product-header {
    width: 27.5%;
}

.product-detail {
    width: 30%;
    position: relative;
    top: -40px;
}

.product-image {
    width: 350px;
    height: 350px;
    box-shadow: 0px 0px 4px black;
}

.product-gallery {
    position: relative;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 4px black;
    margin-bottom: 50px;
    border-radius: 10px;
    margin-left: 24px;
    width: 40%;
    position: absolute;
    top: 150px;
    left: 35%;
}

@media(max-width: 1020px) {
    .product-gallery {
        width: 55%;
    }
}

@media(max-width: 912px) {
    .product-gallery {
        width: 60%;
    }
}

.product-gallery > div {
    padding: 12px
}

.image-slide {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  top: 5px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.caption-container {
    text-align: center;
    background-color: white;
    padding: 2px 16px;
    color: black;
    font-size: large;
    border-bottom: 1px solid black;
  }

  .product-image-thumbnails-container:after {
    content: "";
    display: table;
    clear: both;
  }

.product-image-thumbnail {
    float: left;
    width: 20%;
    cursor: pointer;
}

.image-thumbnail {
    width: 100%;
    height: 144px;
}

.buy-button {
    padding: 10px;
}

.price-explanation-detail {
    top: 10px;
    margin-bottom: 10px;
}

@media(max-width: 776px) {
    .prev,.next {
        top: 35%;
    }

    .next {
        right: 0px;
        border-radius: 3px 0 0 3px;
    }

    .product-container {
        flex-direction: column-reverse;
        width: 90%;
    }

    .product-gallery {
        width: 100%;
        position: initial;
        position: relative;
        left: -5%;
        top: -15px;
    }

    .product-detail {
        width: 90%;
    }

    .product-header {
        width: 90%;
    }

    .product-image {
        width: 250px;
        height: 250px;
    }

    .image-thumbnail {
        width: 100%;
        height: 96px;
    }
}