body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-logo {
    height: 115px;
    width: 116px;
    cursor: pointer;
}

.nav-logo-link {
    align-self: center;
}

.content {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
}

.nav-title {
    align-self: center;
}

.app-navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 7.5px;
    height: 120px;
}

.nav-bar-links-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    margin-bottom: 0px;
}

.app-navigation-bar a {
    /* color: white; */
    color: black;
    text-shadow: 1px 1px 2px #999999;
    text-decoration: none;
    font-size: x-large;
    margin-left: 24px;
}

.app-navigation-bar a:hover {
    color: #888888;
}

.app-navigation-bar img {
    margin-right: 12px;
}

.header {
    font-size: xx-large;
    font-weight: bold;
    padding: 15px;
}

#nav-search-container {
    margin-left: 15px;
    border-bottom: 1px solid black;
    width: 225px;
}

#nav-search {
    border: none;
    font-size: large;
    padding: 6px 6px 6px 40px;
}

.search-icon {
    position: relative;
    padding: 0px;
    margin: 0px;
    top: 24px;
    left: 12px;
}

#search-form {
    margin-block-end: 0px;
}

.price-explanation-container {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.price-explanation-detail {
    width: 75%;
    box-shadow: 0px 0px 4px black;
    padding: 15px;
    border-radius: 5%;
    position: relative;
    top: -10px;
}

.price-explanation-detail > div {
    margin: 10px;
}

.zip-code-enter {
    background-color: white;
    border: 1px solid black;
    border-radius: 15%;
    padding: 5px;
    margin: 5px;
}

.buy-button {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}

.buy-button:hover {
    background-color: black;
    border: 1px solid black;
    box-shadow: 0px 0px 3px black;
    color: white;
}

@media(max-width: 776px) {
    .nav-bar-links-container {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .content {
        margin-left: 12px;
    }

    .app-navigation-bar a {
        font-size: large;
        margin-left: 12px;
    }

    #nav-search-container {
        margin-left: 9px;
        width: 150px;
    }

    #nav-search {
        width: 150px;
    }
}