<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Lucid Flair</title>
    <meta
      name="description"
      content="{% block description %}{% endblock %}"
    />
    <link rel="icon" href="{{ url_for('static', filename='logoSmol.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block links %}{% endblock %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-192740330-1">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-192740330-1');
    </script>
  </head>
  <body>
    <nav class="app-navigation-bar">
      <div class="nav-bar-links-container">
        <a href="{{ url_for('shoes') }}">Shoes</a>
        <a href="{{ url_for('shirts') }}">Shirts</a>
        <a href="{{ url_for('jewelry') }}">Jewelry</a>
        <div id="nav-search-container">      
          <i class="fa fa-search search-icon" style="font-size:18px"></i>
          <form action="{{ url_for('search') }}" method="POST" id="search-form">
            <input type="text" placeholder="Search..." id="nav-search" name="keyword">
          </form>
        </div>
      </div>
      <a href="{{ url_for('home') }}" class="nav-logo-link">
        <img src="{{ url_for('static', filename='logo.png' )}}" alt="Lucid Flair logo" class="nav-logo" />
      </a>
    </nav>
    <section class="content">
      {% block header %}{% endblock %}

      {% block content %}{% endblock %}
    </section>
  </body>
</html>