<link rel="stylesheet" href="{{ url_for('static', filename='catalog.css') }}">

{% extends 'base.html' %}

{% block header %}
<div class="catalog-header">
  {% block title %} {{ category }} Catalog {% endblock %}
</div>
{% endblock %}

{% block content %}
<div class="catalog-container">
    {% if category == "Shirts" %}
      {% set url = 'shirts' %}
    {% endif %}

    {% if category == "Shoes" %}
      {% set url = 'shoes' %}
    {% endif %}

    {% if category == "Jewelry" %}
      {% set url = 'jewelry' %}
    {% endif %}

    {% if category != "Results" %}
    <div class="catalog-side-nav">
    <form action ="{{ url_for(url) }}" method = "POST" class="side-nav-sort">
      <select id="sorting" name="sorting">
          <option value="latest">Sort</option>
          <option value="price-high-to-low">Price high to low</option>
          <option value="price-low-to-high">Price low to high</option>
          <!-- <option value="latest">Latest</option>
          <option value="oldest">Oldest</option> -->
      </select>
      <div class="sort-button-container">
        <input type="submit" value="Sort" class="catalog-sort-button side-nav-button" />
      </div>
    </form>
    <form action ="{{ url_for(url) }}" method = "POST" class="side-nav-filter">
      {% if category == "Shoes" %}
      <div class="side-nav-subheader">Sizes</div>
        <div class="shoe-checkboxes">
          <div>
            <div>
              <input type="checkbox" id="6" name="sizes" value="6" {{ 'checked' if '6' in filters.sizes }}>
              <label for="6"><span>6</span></label>
            </div>
            <div>
              <input type="checkbox" id="7" name="sizes" value="7" {{ 'checked' if '7' in filters.sizes }}>
              <label for="7"><span>7</span></label>
            </div>
            <div>
              <input type="checkbox" id="8" name="sizes" value="8" {{ 'checked' if '8' in filters.sizes }}>
              <label for="8"><span>8</span></label>
            </div>
          </div>

          <div>
            <div>
              <input type="checkbox" id="10.5" name="sizes" value="10.5" {{ 'checked' if '10.5' in filters.sizes }}>
              <label for="10.5"><span>10.5</span></label>
            </div>
            <div>
              <input type="checkbox" id="11" name="sizes" value="11" {{ 'checked' if '11' in filters.sizes }}>
              <label for="11"><span>11</span></label>
            </div>
            <div>
              <input type="checkbox" id="11.5" name="sizes" value="11.5" {{ 'checked' if '11.5' in filters.sizes }}>
              <label for="11.5"><span>11.5</span></label>
            </div>
          </div>
      </div>

      <div class="shoe-checkboxes">
        <div>
          <div>
            <input type="checkbox" id="9" name="sizes" value="9" {{ 'checked' if '9' in filters.sizes }}>
            <label for="9"><span>9</span></label>
          </div>
          <div>
            <input type="checkbox" id="9.5" name="sizes" value="9.5" {{ 'checked' if '9.5' in filters.sizes }}>
            <label for="9.5"><span>9.5</span></label>
          </div>
          <div>
            <input type="checkbox" id="10" name="sizes" value="10" {{ 'checked' if '10' in filters.sizes }}>
            <label for="10"><span>10</span></label>
          </div>
        </div>

        <div>
          <div>
            <input type="checkbox" id="12" name="sizes" value="12" {{ 'checked' if '12' in filters.sizes }}>
            <label for="12"><span>12</span></label>
          </div>
          <div>
            <input type="checkbox" id="13" name="sizes" value="13" {{ 'checked' if '13' in filters.sizes }}>
            <label for="13"><span>13</span></label>
          </div>
          <div>
            <input type="checkbox" id="14" name="sizes" value="14" {{ 'checked' if '14' in filters.sizes }}>
            <label for="14"><span>14</span></label>
          </div>
        </div>
      </div>
    {% endif %}
    {% if category == "Shirts" %}
    <div class="side-nav-subheader">Sizes</div>
    <div>
      <div>
        <input class="side-nav-checkbox" type="checkbox" id="large" name="sizes" value="Large" {{ 'checked' if 'Large' in filters.sizes }}>
        <label for="large"><span>Large</span></label>
      </div>

      <div>
        <input class="side-nav-checkbox" type="checkbox" id="medium" name="sizes" value="Medium" {{ 'checked' if 'Medium' in filters.sizes }}>
        <label for="medium"><span>Medium</span></label>
      </div>

      <div>
        <input class="side-nav-checkbox" type="checkbox" id="small" name="sizes" value="Small" {{ 'checked' if 'Small' in filters.sizes }}>
        <label for="small"><span>Small</span></label>
      </div>
    </div>

    {% endif %}

    <div>
      <div class="side-nav-subheader">Vendors</div>
      <div>
        <input class="side-nav-checkbox" type="checkbox" id="lucid-filter" name="vendors" value="lucid-flair" {{ 'checked' if 'lucid-flair' in filters.vendors }}>
        <label for="lucid-filter"><span>Lucid Flair</span></label>
      </div>

      <div>
        <input class="side-nav-checkbox" type="checkbox" id="flow-filter" name="vendors" value="flow" {{ 'checked' if 'flow' in filters.vendors }}>
        <label for="flow-filter"><span>Flow</span></label>
      </div>

      <div>
        <input class="side-nav-checkbox" type="checkbox" id="nunya-filter" name="vendors" value="nunya-apparel" {{ 'checked' if 'nunya-apparel' in filters.vendors }}>
        <label for="nunya-filter"><span>Nunya Apparel</span></label>
      </div>
    </div>

      <input type="submit" value="Filter" class="side-nav-button" />
    </form>
    <form action ="{{ url_for(url) }}" method = "POST" class="side-nav-filter">
      <input type="submit" value="Clear Filters" class="side-nav-button clear-filters" />
    </form>
  </div>
  {% endif %}
  {% if data == []  %}
  <div class="catalog-content-container header">Sorry, no {{ category }} available at this time.</div>
{% else %}
  <div class="catalog-content-container {{category}}-container">
    <div class="header">{{ category }}</div>
    <div class="product-cards">
      {% for datum in data %}
      <div class="product-area">
        <div class="product-card">
          <div class="product-picture-container">
            <a href="{{ url_for('product', id=datum.id) }}">
              <img src="{{ datum.url }}" alt="{{ datum.name }}" class="product-card-image"/>
            </a>
          </div>
          <a class="product-card-name" href="{{ url_for('product', id=datum.id) }}">
            {{ datum.name }}
          </a>
          <div class="vendor-tag">
            sold by {{ datum.vendor }}
          </div>
          {% if datum.gender == "male" %}
          <div class="gender-tag">
            Men's
          </div>
          {% endif %}
          {% if datum.gender == "female" %}
          <div class="gender-tag">
            Women's
          </div>
          {% endif %}
          {% if datum.gender == "unisex" %}
          <div class="gender-tag">
            Unisex
          </div>
          {% endif %}
          <div class="size-tag">
            Available in {{ datum.size }}
          </div>
          <div class="price-tag">
            ${{ "%.2f"|format(datum.price) }}
          </div>
          <div id="buy-{{datum.domId}}" class="buy-button">
            Cop it
          </div>
        </div>
  
        <div id="price-explanation-{{ datum.domId }}" class="price-explanation-container">
          <div class="price-explanation-detail">
            <div>
              Please provide your zip code
            </div>
            <input type="text" placeholder="Zip Code" id="zip-code-{{datum.domId}}" />
            <button class="zip-code-enter" id="confirm-buy-{{datum.domId}}">Enter</button>
          </div>
        </div>
        <div class="smart-button-container">
          <div style="text-align: center;">
            <div id="paypal-button-container-{{datum.domId}}"></div>
          </div>
        </div>
  
    <script
      src="https://www.paypal.com/sdk/js?client-id=AQoA1HLFN7M-7AIbZw7Fr5iDYmSx4sPPUzkRQgEc5P_LX4_cp9QMadsaZqLiN0kdXeJQaymUOFbjxQgz">
    </script>
    <script>
    function addEventListeners() {
      let buyButton = document.getElementById('buy-{{datum.domId}}');
      
      buyButton.addEventListener('click', (event) => {
        let priceExplanationContainer = document.getElementById('price-explanation-{{ datum.domId }}');
        priceExplanationContainer.style['display'] = 'flex';
      });
      
      let confirmBuyBottom = document.getElementById('confirm-buy-{{datum.domId}}');
      confirmBuyBottom.addEventListener('click', (event) => {
        confirmBuy('zip-code-{{datum.domId}}');
      });

      let zipCodeInput = document.getElementById('zip-code-{{datum.domId}}');
      zipCodeInput.addEventListener('keyup', (event) => {
        if (event.key == 'Enter') {
          confirmBuy('{{datum.name}}', '{{datum.domId}}', '{{datum.price}}', '{{datum.product_type}}', '{{datum.vendor}}', '{{datum.id}}');
        }
      });
    }

    function confirmBuy(name, domId, price, productType, vendor, id) {
      const baseAddress = "{{ url_for('look_up_zip_code') }}";
        const zipCode = document.getElementById('zip-code-' + domId).value;
        const address = baseAddress + zipCode;
        let request = new XMLHttpRequest();
        request.addEventListener('load', function () {
          if (this.readyState === 4 && this.status === 200) {
            const taxRateDisplay = parseFloat(this.responseText);
            const taxRate = taxRateDisplay / 100;

            const productPrice = parseFloat(price);
            const salesTax = Math.ceil(productPrice * taxRate * 100) / 100;
            const shipping = productType == 'shoes' ? 14.99 : 9.99;
            const totalPrice = Math.round((productPrice + salesTax + shipping) * 100) / 100;

            let priceExplanationContainer = document.getElementById('price-explanation-' + domId);
            priceExplanationContainer.innerHTML = `
            <div class="price-explanation-detail">
              <div>Sales tax: $${salesTax} (${taxRateDisplay}%)</div>
              <div>Shipping: $${shipping}</div>
              <div>Total: $${totalPrice}</div>
            </div>
            `;
            priceExplanationContainer.style['display'] = 'flex';

            const buttonContainerSelector = 'paypal-button-container-' + domId;
            let element = document.getElementById(buttonContainerSelector);

            if (element.childNodes.length == 0) {
              paypal.Buttons({
                createOrder: function(data, actions) {
                  try {
                  // This function sets up the details of the transaction, including the amount and line item details.
                  return actions.order.create({
                    purchase_units: [{
                      "amount": {
                        "currency_code":"USD",
                        "value": totalPrice,
                        "breakdown": {
                          "item_total": {
                            "currency_code":"USD",
                            "value": productPrice
                          },
                          "shipping":{"currency_code":"USD","value": shipping},
                          "tax_total":{"currency_code":"USD","value": salesTax}
                        }
                      }
                    }]
                  });
                  } catch (e) {
                    console.log('error', e);
                  }
                },
                style: {
                  color: 'white',
                },
                onApprove: function(data, actions) {
                  // This function captures the funds from the transaction.
                  return actions.order.capture().then(function(details) {
                    const purchaseUnits = details.purchase_units[0];
                    const order = JSON.stringify({ 
                      payer: details.payer, 
                      shipping_info: purchaseUnits.shipping, 
                      product_id: id, 
                      vendor: vendor, 
                      product_name: name, 
                      price: purchaseUnits.amount.value, 
                      create_time: details.create_time
                    });
                    let request = new XMLHttpRequest();
                    request.addEventListener('load', function () {
                      if (this.readyState === 4 && this.status === 200) {
                        window.location.href = '{{ url_for("thanks") }}?name=' + name;
                      } else {
                        alert("We're sorry, but there was an issue processing your order. Please try again or reach out to lucidflairstore@gmail.com if you are sure the information provided is correct.")
                      }
                    });
                    request.open("POST", "{{ url_for('order') }}", true); 
                    request.setRequestHeader('Content-Type', 'application/json');
                    request.send(order); 
                  });
                }
              }).render('#' + buttonContainerSelector);
      
              document.querySelector('#price-explanation-' + domId).scrollIntoView({behavior: 'smooth'});
            } else {
              if (element.style['display'] == 'none') {
                element.style['display'] = '';
                priceExplanationContainer.style['display'] = 'flex';

                document.querySelector('#price-explanation-' + domId).scrollIntoView({behavior: 'smooth'});
              } else {
                element.style['display'] = 'none';
                priceExplanationContainer.style['display'] = 'none';
              }
            }
          } else {
            alert("We're sorry, but there was an issue processing your zip code. Please try again or reach out to lucidflairstore@gmail.com if you are sure the information provided is correct.")
          }
        });
        request.open("POST", baseAddress, true); 
        request.setRequestHeader('Content-Type', 'application/json');
        const payload = JSON.stringify({
          zip_code: zipCode
        });
        request.send(payload);
    }
  
    addEventListeners();
    </script>
      </div>
    {% endfor %}
    </div>
  {% endif %}
  </div>
  
</div>

{% endblock %}