<link rel="stylesheet" href="{{ url_for('static', filename='new-inventory.css') }}">

{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Inventory{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post" enctype=multipart/form-data >
        <div class="wrap">
            <div class="form-control">
                <input name="name" type="text" class="product-input"/>
                <label for="name" class="product-text-label">Product</label>
            </div>
        
            <div class="form-control">
                <input name="description" type="text" class="product-input"/>
                <label for="description" class="product-text-label">Description</label>
            </div>
        
            <div class="form-control">
                <input name="price" type="text" class="product-input" onkeypress="return isNumberKey(event)"/>
                <label for="price" class="product-text-label">Price</label>
            </div>
        
            <div class="form-control">
                <input name="quantity" type="text" class="product-input" onkeypress="return isNumberKey(event)"/>
                <label for="quantity" class="product-text-label">Quantity</label>
            </div>

            <div class="form-control">
                <label for="gender">Gender</label>
                <select name="gender" id="gender-input">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="unisex">Unisex</option>
                </select>
            </div>

            <div class="form-control">
                <label for="vendor">Vendor</label>
                <select name="vendor" id="vendor-input">
                    <option value="Lucid Flair">Lucid Flair</option>
                    <option value="Flow">Flow</option>
                    <option value="Nunya Apparel">Nunya Apparel</option>
                </select>
            </div>

            <div class="form-control">
                <label for="type">Type</label>
                <select name="type" id="type-input">
                    <option value="shoes">Shoes</option>
                    <option value="short-sleeved-shirt">Short Sleeved Shirt</option>
                    <option value="long-sleeved-shirt">Long Sleeved Shirt</option>
                    <option value="jewelry">Jewelry</option>
                </select>
            </div>
            
            <h4 class="size-label">Sizes</h4>
            <div id="size-checkboxes" class="form-control">
                <div class="shoe-checkboxes">
                    <input type="checkbox" id="6" name="sizes" value="6">
                    <label for="6">6</label>
                    <input type="checkbox" id="7" name="sizes" value="7">
                    <label for="7">7</label>
                    <input type="checkbox" id="8" name="sizes" value="8">
                    <label for="8">8</label>
                    <input type="checkbox" id="8.5" name="sizes" value="8.5">
                    <label for="8.5">8.5</label>
                    <input type="checkbox" id="9" name="sizes" value="9">
                    <label for="9">9</label>
                    <input type="checkbox" id="9.5" name="sizes" value="9.5">
                    <label for="9.5">9.5</label>
                    <input type="checkbox" id="10" name="sizes" value="10">
                    <label for="10">10</label>
                </div>

                <div class="shoe-checkboxes">
                    <input type="checkbox" id="10.5" name="sizes" value="10.5">
                    <label for="10.5">10.5</label>
                    <input type="checkbox" id="11" name="sizes" value="11">
                    <label for="11">11</label>
                    <input type="checkbox" id="11.5" name="sizes" value="11.5">
                    <label for="11.5">11.5</label>
                    <input type="checkbox" id="12" name="sizes" value="12">
                    <label for="12">12</label>
                    <input type="checkbox" id="13" name="sizes" value="13">
                    <label for="13">13</label>
                    <input type="checkbox" id="14" name="sizes" value="14">
                    <label for="14">14</label>
                </div>
            </div>

            <div class="form-control">
                <div>
                    <label for="main-picture-input">Featured image</label>
                    <input type="file" name="picture1" id="main-picture-input" onchange="cropImage(event)" />
                </div>

                {% for i in range(2, 6) %}
                <div>
                    <label for="picture-{{ i }}-input">Additional image</label>
                    <input type="file" name="picture{{ i }}" id="picture-{{ i }}-input" onchange="cropImage(event)" />
                </div>
                {% endfor %}
            </div>

            <div>
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>

    <script>
        // <!--
        const inputs = document.getElementsByClassName('product-input');

        for (var i = 0; i < inputs.length; i++) {
            inputs[i].addEventListener('focusin', (event) => {
                let label = event.target.parentNode.childNodes[3];
                label.className = 'product-text-label active';
            });

            inputs[i].addEventListener('focusout', (event) => {
                if (!event.target.value) {
                    let label = event.target.parentNode.childNodes[3];
                    label.className = 'product-text-label';
                }
            });
        }

        let typeInput = document.getElementById("type-input");
        typeInput.addEventListener('change', (event) => {
            let sizeCheckboxes = document.getElementById("size-checkboxes");
            if (event.target.value == "shoes") {
                sizeCheckboxes.innerHTML = `
                <div class="shoe-checkboxes">
                    <input type="checkbox" id="6" name="sizes" value="6">
                    <label for="6">6</label>
                    <input type="checkbox" id="7" name="sizes" value="7">
                    <label for="7">7</label>
                    <input type="checkbox" id="8" name="sizes" value="8">
                    <label for="8">8</label>
                    <input type="checkbox" id="9" name="sizes" value="9">
                    <label for="9">9</label>
                    <input type="checkbox" id="9.5" name="sizes" value="9.5">
                    <label for="9.5">9.5</label>
                    <input type="checkbox" id="10" name="sizes" value="10">
                    <label for="10">10</label>
                </div>

                <div class="shoe-checkboxes">
                    <input type="checkbox" id="10.5" name="sizes" value="10.5">
                    <label for="10.5">10.5</label>
                    <input type="checkbox" id="11" name="sizes" value="11">
                    <label for="11">11</label>
                    <input type="checkbox" id="11.5" name="sizes" value="11.5">
                    <label for="11.5">11.5</label>
                    <input type="checkbox" id="12" name="sizes" value="12">
                    <label for="12">12</label>
                    <input type="checkbox" id="13" name="sizes" value="13">
                    <label for="13">13</label>
                    <input type="checkbox" id="14" name="sizes" value="14">
                    <label for="14">14</label>
                </div>
                `;
            } else {
                sizeCheckboxes.innerHTML = `
                    <input type="checkbox" id="large" name="sizes" value="Large">
                    <label for="large">Large</label>

                    <input type="checkbox" id="medium" name="sizes" value="Medium">
                    <label for="medium">Medium</label>

                    <input type="checkbox" id="small" name="sizes" value="Small">
                    <label for="small">Small</label>
                `;
            }
        });

        function isNumberKey(evt) {
          var charCode = (evt.which) ? evt.which : evt.keyCode;
          if (charCode != 46 && charCode > 31 
            && (charCode < 48 || charCode > 57))
             return false;

          return true;
        }

        function cropImage(e) {
            e.preventDefault && e.preventDefault();
            var image, canvas, i;
            var images = 'files' in e.target ? e.target.files : 'dataTransfer' in e ? e.dataTransfer.files : [];
            if(images && images.length) {
                for(i in images) {  
                    if(typeof images[i] != 'object') continue;
                    image = new Image();
                    image.src = createObjectURL(images[i]);
                    image.onload =  function(e){
                        var mybase64resized = resizeCrop( e.target, 300, 300 ).toDataURL('image/png', 90);
                        e.target.value = mybase64resized;
                    }
                }           
            }
        }

        function resizeCrop( src, width, height ) {
            var crop = width == 0 || height == 0;
            // not resize
            if(src.width <= width && height == 0) {
                width  = src.width;
                height = src.height;
            }
            // resize
            if( src.width > width && height == 0){
                height = src.height * (width / src.width);
            }

            // check scale
            var xscale = width  / src.width;
            var yscale = height / src.height;
            var scale  = crop ? Math.min(xscale, yscale) : Math.max(xscale, yscale);
            // create empty canvas
            var canvas = document.createElement("canvas");                  
            canvas.width  = width ? width   : Math.round(src.width  * scale);
            canvas.height = height ? height : Math.round(src.height * scale);
            canvas.getContext("2d").scale(scale,scale);
            // crop it top center
            canvas.getContext("2d").drawImage(src, ((src.width * scale) - canvas.width) * -.5 , ((src.height * scale) - canvas.height) * -.5 );
            return canvas;
        }

        function createObjectURL(i) { 
            var URL = window.URL || window.webkitURL || window.mozURL || window.msURL;
            return URL.createObjectURL(i);
        }
       //-->
    </script>
{% endblock %}