{% extends 'base.html' %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='product.css') }}">
{% endblock %}

{% block description %}On sale for: ${{ "%.2f"|format(product.price) }}. {{product.description}}{% endblock %}

{% block header %}  
  <h1 class="product-header header">{% block title %} {{ product.name }} {% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="product-container">
  <div class="product-detail">
    <ul>
      <li>Available from ${{ "%.2f"|format(product.price) }}</li>
      <li>Shipped by {{ product.vendor }}</li>
      <li>
        Get it in {{ product.sizes }}
        {% if product.gender == 'male' %}
        (men's)
        {% endif %}
        {% if product.gender == 'female' %}
        (women's)
        {% endif %}
        {% if product.gender == 'unisex' %}
        (unisex)
        {% endif %}
      </li>
    </ul>

    <button id="buy" class="buy-button">
      Buy Now
    </button>

    <div id="price-explanation" class="price-explanation-container">
      <div class="price-explanation-detail">
        <div>
          Please provide your zip code
        </div>
        <input type="text" placeholder="Zip Code" id="zip-code" />
        <button class="zip-code-enter" id="confirm-buy">Enter</button>
      </div>
    </div>
    <div class="smart-button-container">
      <div style="text-align: center;">
        <div id="paypal-button-container"></div>
      </div>
    </div>
  </div>
  <div class="product-gallery">
    {% for picture in pictures %}
    <div class="image-slide">
      {% if pictures|length >= 2 %}
      <div class="numbertext">{{ loop.index }} / {{ pictures|length }}</div>
      {% endif %}
      <img src="{{ picture }}" alt="{{ product.name }}" class="product-image"/>
    </div>
    {% endfor %}
  
    {% if pictures|length >= 2 %}
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    {% endif %}
    
    <div class="caption-container">
      <p id="caption">{{product.description}}</p>
    </div>  
  
    {% if pictures|length >= 2 %}
    <div class="product-image-thumbnails-container">
      {% for picture in pictures %}
      <div class="product-image-thumbnail">
        <img 
          src="{{ picture }}" 
          alt="{{ product.name }}" 
          class="image-thumbnail" 
          onclick="currentSlide({{ loop.index }})"
        />
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>

<script
src="https://www.paypal.com/sdk/js?client-id=AQoA1HLFN7M-7AIbZw7Fr5iDYmSx4sPPUzkRQgEc5P_LX4_cp9QMadsaZqLiN0kdXeJQaymUOFbjxQgz">
</script>
<script>
    function addEventListeners() {
      let buyButton = document.getElementById('buy');
      
      buyButton.addEventListener('click', (event) => {
        let priceExplanationContainer = document.getElementById('price-explanation');
        priceExplanationContainer.style['display'] = 'flex';
      });
      
      let confirmBuyBottom = document.getElementById('confirm-buy');
      confirmBuyBottom.addEventListener('click', (event) => {
        confirmBuy();
      });

      let zipCodeInput = document.getElementById('zip-code');
      zipCodeInput.addEventListener('keyup', (event) => {
        if (event.key == 'Enter') {
          confirmBuy();
        }
      });
    }

    function confirmBuy() {
        const baseAddress = "{{ url_for('look_up_zip_code') }}";
        const zipCode = document.getElementById('zip-code').value;
        const address = baseAddress + zipCode;
        let request = new XMLHttpRequest();
        request.addEventListener('load', function () {
          if (this.readyState === 4 && this.status === 200) {
            const taxRateDisplay = parseFloat(this.responseText);
            const taxRate = taxRateDisplay / 100;

            const productPrice = parseFloat('{{product.price}}')
            const salesTax = Math.ceil(productPrice * taxRate * 100) / 100;
            const shipping = '{{ product.product_type }}' == 'shoes' ? 14.99 : 9.99;
            const totalPrice = Math.round((productPrice + salesTax + shipping) * 100) / 100;

            let priceExplanationContainer = document.getElementById('price-explanation');
            priceExplanationContainer.innerHTML = `
            <div class="price-explanation-detail">
              <div>Sales tax: $${salesTax} (${taxRateDisplay}%)</div>
              <div>Shipping: $${shipping}</div>
              <div>Total: $${totalPrice}</div>
            </div>
            `;
            priceExplanationContainer.style['display'] = 'flex';

            const buttonContainerSelector = 'paypal-button-container';
            let element = document.getElementById(buttonContainerSelector);

            if (element.childNodes.length == 0) {
              paypal.Buttons({
                createOrder: function(data, actions) {
                  // This function sets up the details of the transaction, including the amount and line item details.
                  return actions.order.create({
                    purchase_units: [{
                      "amount": {
                        "currency_code":"USD",
                        "value": totalPrice,
                        "breakdown": {
                          "item_total": {
                            "currency_code":"USD",
                            "value": productPrice
                          },
                          "shipping":{"currency_code":"USD","value": shipping},
                          "tax_total":{"currency_code":"USD","value": salesTax}
                        }
                      }
                    }]
                  });
                },
                style: {
                  color: 'white',
                },
                onApprove: function(data, actions) {
                  // This function captures the funds from the transaction.
                  return actions.order.capture().then(function(details) {
                    const purchaseUnits = details.purchase_units[0];
                    const order = JSON.stringify({ 
                      payer: details.payer, 
                      shipping_info: purchaseUnits.shipping, 
                      product_id: '{{ product.id }}', 
                      vendor: '{{ product.vendor }}', 
                      product_name: '{{ product.name }}', 
                      price: purchaseUnits.amount.value, 
                      create_time: details.create_time
                    });
                    let request = new XMLHttpRequest();
                    request.addEventListener('load', function () {
                      if (this.readyState === 4 && this.status === 200) {
                        window.location.href = '{{ url_for("thanks") }}?name={{product.name}}';
                      } else {
                        alert("We're sorry, but there was an issue processing your order. Please try again or reach out to lucidflairstore@gmail.com if you are sure the information provided is correct.")
                      }
                    });
                    request.open("POST", "{{ url_for('order') }}", true); 
                    request.setRequestHeader('Content-Type', 'application/json');
                    request.send(order); 
                  });
                }
              }).render('#' + buttonContainerSelector);
      
              document.querySelector('#price-explanation').scrollIntoView({behavior: 'smooth'});
            } else {
              if (element.style['display'] == 'none') {
                element.style['display'] = '';
                priceExplanationContainer.style['display'] = 'flex';

                document.querySelector('#price-explanation').scrollIntoView({behavior: 'smooth'});
              } else {
                element.style['display'] = 'none';
                priceExplanationContainer.style['display'] = 'none';
              }
            }
          } else {
            alert("We're sorry, but there was an issue processing your zip code. Please try again or reach out to lucidflairstore@gmail.com if you are sure the information provided is correct.")
          }
        });
        request.open("POST", baseAddress, true); 
        request.setRequestHeader('Content-Type', 'application/json');
        const payload = JSON.stringify({
          zip_code: zipCode
        });
        request.send(payload);
    }
  
    addEventListeners();
</script>
<script>
  var slideIndex = 1;

  showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("image-slide");
  var dots = document.getElementsByClassName("product-image-thumbnail");
  // var captionText = document.getElementById("caption");

  if (n > slides.length) {
    slideIndex = 1
  }

  if (n < 1) {
    slideIndex = slides.length
  }

  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "flex";
  dots[slideIndex-1].className += " active";
  // captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
{% endblock %}



<div id="smart-button-container">
  <div style="text-align: center;">
    <div id="paypal-button-container"></div>
  </div>
</div>
<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD" data-sdk-integration-source="button-factory"></script>
<script>
function initPayPalButton() {
  paypal.Buttons({
    style: {
      shape: 'rect',
      color: 'white',
      layout: 'vertical',
      label: 'paypal',
      
    },

    createOrder: function(data, actions) {
      return actions.order.create({
        purchase_units: [{"amount":{"currency_code":"USD","value":16.08,"breakdown":{"item_total":{"currency_code":"USD","value":1},"shipping":{"currency_code":"USD","value":14.99},"tax_total":{"currency_code":"USD","value":0.09}}}}]
      });
    },

    onApprove: function(data, actions) {
      return actions.order.capture().then(function(details) {
        alert('Transaction completed by ' + details.payer.name.given_name + '!');
      });
    },

    onError: function(err) {
      console.log(err);
    }
  }).render('#paypal-button-container');
}
initPayPalButton();
</script>