{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} Much Appreciated! {% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="thanks-container">
    Enjoy your {{ name }}. You will receive an email when it has shipped.
</div>
{% endblock %}